<router-outlet></router-outlet>

<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    {{ message }}
  </h2>
</div>


<div *ngIf="products.length > 0; else noData">
  <ul>
    <li *ngFor="let product of products">
      <h3>{{ product.name }} ({{ product.productCode }})</h3>
      <p>Marca: {{ product.brand }}</p>
      <p>Código: {{ product.code }}</p>
      <ul>
        <li *ngFor="let price of product.price">
          Fecha: {{ price.Fecha | date }} - Valor: {{ price.Valor | currency }}
        </li>
      </ul>
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>No hay productos disponibles.</p>
</ng-template> -->
