<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <article class="main">
    <section class="first">
      <label for="productCode">Código del producto:</label>
      <input type="text" id="productCode" required [(ngModel)]="product.productCode" name="productCode">

      <label for="brand">Marca:</label>
      <input type="text" id="brand" required [(ngModel)]="product.brand" name="brand">

      <label for="code">Código:</label>
      <input type="text" id="code" required [(ngModel)]="product.code" name="code">
    </section>

    <section class="second">
      <label for="name">Nombre:</label>
      <input type="text" id="name" required [(ngModel)]="product.name" name="name">

      <label for="priceDate">Fecha del precio:</label>
      <input type="date" id="priceDate" required [(ngModel)]="price.Fecha" name="priceDate">

      <label for="priceValue">Valor del precio:</label>
      <input type="number" id="priceValue" required [(ngModel)]="price.Valor" name="priceValue">
    </section>
  </article>

  <article class="multimedia">
    <section class="upload">
      <label for="image">Imagen del producto:</label>
      <input type="file" id="image" (change)="onFileSelected($event)" name="image">
    </section>

    <button type="submit">{{ isEditMode ? 'Actualizar Producto' : 'Agregar Producto' }}</button>
  </article>
</form>

<!-- <form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <article class="main">
    <section class="first">

      <label for="productCode">Código del producto:</label>
      <input type="text" id="productCode" required [(ngModel)]="product.productCode" name="productCode">

      <label for="brand">Marca:</label>
      <input type="text" id="brand" required [(ngModel)]="product.brand" name="brand">

      <label for="code">Código:</label>
      <input type="text" id="code" required [(ngModel)]="product.code" name="code">

    </section>

    <section class="second">

      <label for="name">Nombre:</label>
      <input type="text" id="name" required [(ngModel)]="product.name" name="name">

      <label for="priceDate">Fecha del precio:</label>
      <input type="date" id="priceDate" required [(ngModel)]="price.Fecha" name="priceDate">

      <label for="priceValue">Valor del precio:</label>
      <input type="number" id="priceValue" required [(ngModel)]="price.Valor" name="priceValue">

    </section>
  </article>



  <article class="multimedia">

    <section class="upload">

      <label for="image">Imagen del producto:</label>

      <input type="file" id="image" (change)="onFileSelected($event)" name="image">

    </section>

    <button type="submit">Agregar Producto</button>

  </article>
</form> -->

