<app-header></app-header>
<!-- <main>
  <div *ngIf="products.length > 0; else noData" class="cards">
    <div *ngFor="let product of products" class="card">
      <h5>{{ product.name }} ({{ product.productCode }})</h5>
      <img [src]="product.image" alt="">
      <p>Marca: {{ product.brand }}</p>
      <p>Código: {{ product.code }}</p>
    </div>
  </div>

  <app-add-product></app-add-product>
</main> -->

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngIf="products.length > 0; else noData" class="col mb-5">
              <div *ngFor="let product of products" class="card h-100">
                  <!-- Product image-->
                  <img [src]="product.image" alt="">
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{ product.name }}</h5>
                          <!-- Product price-->
                          {{ product.price }}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<app-add-product></app-add-product>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<ng-template #noData>
  <p>No hay productos disponibles.</p>
</ng-template>
