<div class="main">
  <div class="register-container">
    <h2>Registro</h2>
    <form (ngSubmit)="register(user)" #registerForm="ngForm" class="form-container">
      <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="rut">RUT:</label>
        <input type="text" id="rut" [(ngModel)]="user.rut" name="rut" required>
      </div>
      <div class="form-group">
        <label for="role">Rol:</label>
        <input type="text" id="role" [(ngModel)]="user.role" name="role" required>
      </div>
      <button type="submit" class="btn-submit">Registrar</button>
    </form>
  </div>
</div>
